<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Preencha os campos abaixo para cadastrar um cliente.</p>
    <form action="/new" method="POST">
        <fieldset>
            <legend>Dados Cadastrais</legend>
            <p>
                Nome: <input type="text" name="nome" value="<%= customer.nome %>" />
            </p>
            <p>
                Idade: <input type="number" name="idade" value="<%= customer.idade %>" />
            </p>
            <p>
                Região: <input type="text" name="cidade" value="<%= customer.cidade %>" />
                <select id="uf" name="uf">
                    <option>Selecione a UF:</option>
                   
                </select>
            </p>
            <input type="hidden" name="id" value="<%= customer._id %>" />
            <p>
                <input type="submit" name="Salvar" />
                <a href="/">Cancelar</a>
            </p>
        </fieldset>
    </form>
    <script>

        fetch('https://servicodados.ibge.gov.br/api/v1/localidades/estados')
            .then(response => response.json())
            .then(json => {
                const ufsHtml = document.getElementById('uf')
                const siglas = json.map(item => item.sigla).sort()
                siglas.forEach(item => {
                    const opt = document.createElement("option")
                    opt.innerText = item
                    ufsHtml.add(opt)
                })

                <%
               if (customer.uf){
                    %>
                    ufsHtml.value = "<%= customer.uf%>";
                    <%
                }
            %>

            })
            .catch(error => aler(error));
            
        if (window.location.search) {
            const error = window.location.search.split('=')[1];
            alert(decodeURI(error))
        }

            

    </script>
</body>

</html>